[2021-05-20 23:58] ian-r-rose opened #189 "Better cluster management and discovery"
## AKA Let's delete dask-labextension's `ClusterManager`

### Goal

For a few years now this extension has had a built-in [cluster manager](https://github.com/dask/dask-labextension/blob/main/dask_labextension/manager.py), which is what powers the user interface on the frontend. The reasons for having this are basically twofold:
1. When the labextension has a handle on the `Cluster` object it is e

[2021-05-21 00:44] ian-r-rose opened #190 "Authentication for dashboards"
### The problem

Broadly speaking, this extension works by passing around URLs:

1. When a user has a cluster and clicks on the magnifying glass icon, it checks `client.dashboard_link` to find a URL for the dashboard, and uses that to fetch the individual plots endpoints and construct dashboard panes.
2. If a user creates a cluster, then tries to insert client connection code for that cluster into

[2021-05-21 07:31] scottyhq commented on #190
Thanks for opening the discussion @ian-r-rose , I'm not sure I have much to contribute here, we've leaned heavily on @consideratio and @TomAugspurger to figure out dask-gateway configurations and compatibility fixes for the pangeo jupyterhubs over the last year. I can envision a future where it's more common for jupyterhub users to connect to coiled-managed clusters instead of the integrated daskh

[2021-05-21 15:30] cspencerjones commented on #190
Good question: honestly I usually just open the dashboard link in a new browser tab (I used to use the labextension but these kinds of issues have deterred me). But I just tried to use the dask labextension from the pangeo aws cluster and no, it doesn't seem to work with coiled: I can open windows from the labextension but they are all blank.

[2021-05-24 13:36] TomAugspurger opened #191 "`Uncaught (in promise) Error: Schema not found` on new installation"
**What happened**:

I create a new environment

[code]

and start jupyterlab, and I see an error in the browser console

[code]

**What you expected to happen**:

Ideally no errors :)

**Minimal Complete Verifiable Example**:

[code]

and open the console.

**Anything else we need to know?**:

**Environment**:

This is with dask-labextension 5.0.1.

[2021-05-24 15:30] jacobtomlinson commented on #189
Yay for all of this! I am very keen to improve `dask-ctl` to a point where it can replace the cluster manager here.

That code sounds pretty specific to the lab extension. Maybe we can add some things to `dask-ctl` which yield enough information for the lab extension to put that snippet together.

[2021-05-25 00:37] ian-r-rose commented on #189
Yeah, I certainly don't need a literal code snippet, but something that could be sent over the wire would be very helpful. Also, this doesn't *have* to live in `dask-ctl`, but it feels like it might be appropriate. Basically, it would be nice to have a JSON-serializable version of `from_name` that allows us to reconstruct a cluster in the client.

On thing I haven't really wrapped my mind around i

[2021-05-25 14:32] jacobtomlinson commented on #189
The lifecycle management in Dask Gateway is great, but only is you use Dask gateway. I'm trying to bring these features to everyone else.

I could see somewhere down the line Dask Gateway supporting dask-ctl as a backend. This would open Dask Gateway up to other platforms like the cloud without having to reimplement all of `dask-cloudprovider`.

[2021-05-25 16:17] ian-r-rose commented on #191
Thanks for the report @TomAugspurger! I can reproduce the error, though most of the extension still seems to function. To confirm -- does this break the extension entirely for you, or just some settings-related functionality?

This seems to not be a problem when installed with `pip`, so something is up with the conda packaging not bundling the settings schema.

[2021-05-31 15:01] valpesendorfer opened #194 "Access dashboard from scheduler with no public IP?"
Is it possible to connect to a scheduler without a public IP running in the same AWS VPC?

**What happened**:

I'm running a jupyter lab on an AWS EC2 instance and I'm trying to connect to a scheduler with a private IP that was created with `dask-cloudprovider` running in the same VPC as the lab.

The dashboard gets picked up by the extension as expected, all buttons become orange:

![image](https

[2021-06-01 14:30] jacobtomlinson commented on #194
Sure that makes sense. The dashboards are being accessed by your browser, so the scheduler needs a public IP for this to work. The address discovered by the extension is where the scheduler thinks the dashboard is, which in this case is correct, it's just not accessible to you.

You don't mention how you deployed Jupyter but it looks like you have the proxy extension installed so you should be abl

[2021-06-01 15:45] valpesendorfer commented on #194
thanks @jacobtomlinson, makes sense indeed. Maybe I got a bit too excited with the orange buttons and was hoping the extension would proxy itself ...

I've tried to access the dashboard, but looks like it's being blocked ... digging through the code and docs, it looks like I need to add the host to `host_allowlist` - does that go into the jupyter lab config file? Or can you point me to some exampl

[2021-06-01 15:59] ian-r-rose commented on #194
In the medium-term I would like to make this possible, it requires some internal plumbing, but is doable. I would probably do this in concert with some other proxy-related work, cf #190. But for the time being @jacobtomlinson is correct, it needs to be visible to your browser, not just the JupyterLab server.

Yes, this should go in the [jupyter config file](https://jupyter-server-proxy.readthedocs

[2021-06-01 18:26] valpesendorfer commented on #194
thanks @ian-r-rose ... required some fiddeling but it works now! Not going into details as this is more a proxy thing. I'd leave this issue open since this might be integrated into the extension. Feel free to close. Thanks!

[2021-06-02 23:37] #180 closed

[2021-06-02 23:37] #185 closed

[2021-06-02 23:47] ian-r-rose commented on #185
Fixed in `5.0.2`

[2021-06-02 23:48] ian-r-rose commented on #185
Also, thanks for the nicely detailed report and reproducible example @jose-moralez

[2021-06-03 00:20] jose-moralez commented on #185
Thanks for the fix! Happy to help.

[2021-06-03 19:29] ian-r-rose commented on #191
This should be fixed in conda-forge/dask_labextension#22, thanks @bollwyvl ! I'll keep this open until I verify.

[2021-06-03 21:23] ian-r-rose commented on #191
I've verified that this is fixed in 5.0.2 on `conda-forge`.

[2021-06-03 21:23] #191 closed

[2021-06-17 19:00] sonnysideup commented on #147
What's the status here? From what I read, this is still an issue related to a recent change to the `jupyter-server-proxy` package. It appears as though we simply need to set [ServerProxy.host_whitelist](https://github.com/jupyterhub/jupyter-server-proxy/blob/7a7007915a1b34db516d9766c9deb3903902b59e/jupyter_server_proxy/config.py#L197) to include the scheduler Pod IP in Kubernetes but I'm unsure ho

[2021-06-24 20:47] ian-r-rose opened #198 "Remove default dashboard plots"
This extension gets its list of dask dashboard plots by querying the dashboard's `individual-plots.json` endpoint. These are then shown to the user as the orange buttons in the extension side bar. If, however, that request to `individual-plots.json` fails, we show a default listing, given by this:

https://github.com/dask/dask-labextension/blob/365913b4f77910e75f5e60114d44f5785b762db7/src/dashboar

[2021-06-24 20:51] jrbourbeau commented on #198
I wouldn't miss the greyed out buttons. Additionally, as you already mentioned, it would make renaming plots (xref https://github.com/dask/distributed/pull/4878) easier

[2021-06-28 10:33] jacobtomlinson commented on #198
Agree I wouldn't miss the greyed out buttons.

[2021-07-01 10:29] jacobtomlinson commented on #198
Once this is done we should also remove this backward compatibility in distributed.

https://github.com/dask/distributed/blob/97f10b196c2fc6f68aeb8858c4733267b12eafb6/distributed/dashboard/scheduler.py#L67-L71

[2021-07-18 00:03] mrocklin opened #199 "Sort order of plots"
Right now they seem to come up in random order and this changes every time

![image](https://user-images.githubusercontent.com/306380/126051902-967fcca0-aa90-463d-b0a5-570dd72ece9a.png)
![image](https://user-images.githubusercontent.com/306380/126051916-fbc3cf00-7fc6-4aad-ae90-012c5a9bdb86.png)

Probably sorting by alphabetical ordering would be a positive change

[2021-07-18 07:25] ian-r-rose commented on #199
Agreed, this is pretty straightforward. See also #179 with a suggestion to vary the colors to make the charts easier to pick out.

[2021-07-18 15:27] mrocklin commented on #179
+1 on sort order, which should be easy.

We could do colors, maybe by theme.  Memory-related plots could be darker orange, processing-related plots could be lighter orange, etc..  I agree that this is a decision that we would want to make on the dask/distributed side.

Alternatively, maybe we should zoom out a bit and ask what the right way to lay out these choices is. The "field of buttons" choic

[2021-07-18 15:28] mrocklin commented on #179
Maybe something more like the vanilla JLab menu would make more sense

![image](https://user-images.githubusercontent.com/306380/126072992-b8ac9bad-2a71-43f7-9ad9-013adbe2484d.png)

[2021-07-18 16:22] kpasko commented on #179
The vanilla style makes sense to me. It could also eliminate need for color
coding by having category sections — i.e replace {dask, extension
manager,…} in referenced img with {memory, processing,…} or the like.

//

Extra bonus points if in addition to above categories there was a
collapsible “layouts” section allowing you to CRUD and toggle visibility of
preferred dashboard layouts

On Sun, Jul

[2021-07-18 16:57] mrocklin commented on #179
If we could clone Ian then I would be all in favor of implementing a
saveable layouts option :)

On Sun, Jul 18, 2021 at 11:22 AM kpasko ***@***.***> wrote:

[2021-07-20 12:39] #198 closed

[2021-07-20 12:39] #199 closed

[2021-07-20 13:30] mrocklin opened #201 "Remove "Dask " from the titles of tabs"
My JLab panes look like this:

![Screen Shot 2021-07-20 at 6 29 31 AM](https://user-images.githubusercontent.com/306380/126332496-736cb639-97bb-4577-8b4c-593fd4511051.png)

If we removed the word Dask from all of the titles then it would be easier to see what was what.  We already have the icon to distinguish these from other kinds of tabs.

[2021-07-20 13:34] ian-r-rose commented on #201
Agreed, the icon should suffice.

A fairly simple fix, requires updating the labels here: https://github.com/dask/dask-labextension/blob/3e35dd277e503e13dfb0950379eab1400abcd729/src/index.ts#L192-L194

and here:
https://github.com/dask/dask-labextension/blob/3e35dd277e503e13dfb0950379eab1400abcd729/src/index.ts#L389

[2021-07-20 14:47] mrocklin commented on #201
Should I interpret this last comment as "this is easy so I'll do it soon" or "this is easy so it might be a good opportunity to bring in some new".  If the latter, Alex?

[2021-07-20 15:04] ian-r-rose commented on #201
I'm happy to do it soon (it is indeed very easy), but I'm also happy to bring on any extra hands. I suppose I intended it as a flare to see if any interested contributors popped up.

[2021-07-20 15:20] mrocklin commented on #201
Go silent masses go!

On Tue, Jul 20, 2021 at 8:04 AM Ian Rose ***@***.***> wrote:

[2021-07-28 00:56] consideRatio opened #202 "Enter Dashboard URL text field: pressing Enter is different from pressing the search button"
**What happened**:

Pressing `Enter` compared to pressing the Search icon when having entered a Dask Dashboard URL provides different outcomes.

![image](https://user-images.githubusercontent.com/3837114/127244682-03e37334-e1af-4dc9-8349-9819bf7d2dca.png)

![dask-labextension-search-vs-enter](https://user-images.githubusercontent.com/3837114/127246118-5e30d80f-4458-4062-89b3-fcd46cccd10c.gif)

I'v

[2021-07-28 01:04] fperez commented on #183
Big +1 on documenting this a bit more clearly right away in the README, we were just looking at this issue with @consideRatio and eventually the above proved very helpful!

[2021-07-28 01:21] consideRatio opened #203 "Clicking on a cluster populates the Dashboard URL search bar with an unexpected URL"
**What happened**:

Pressing the cluster in the dask-labextension panel on the left side of JupyterLab 3 provided me with a unknown URL that doesn't seem to relate to the dashboard URL of the cluster in any way.

![image](https://user-images.githubusercontent.com/3837114/127244682-03e37334-e1af-4dc9-8349-9819bf7d2dca.png)

![dask-labextension-press-vs-copy-paste](https://user-images.githubusercont

[2021-07-28 01:28] consideRatio opened #204 "Listing DaskGateway clusters created via Python code alongside those created via the dask labextension UI"
**What happened**:

I can create a dask-gateway cluster via the dask-labextension view and I'll see it visible there then.

![starting-new-dask-cluster](https://user-images.githubusercontent.com/3837114/127248817-57492f22-223a-4028-8736-eb8745e90cc3.gif)

But, if I create a dask-gateway cluster from a notebook using code like below, then no dask cluster shows up in the list of clusters.

[code]

*

[2021-07-28 09:06] ian-r-rose commented on #204
Thanks for raising this @consideRatio . In general, this is a hard problem, as dask doesn't really have a built-in cluster discovery method. Short of port sniffing, I'm not sure I know of a good way to handle auto-detecting any cluster in a given notebook (or set of notebooks). Indeed, part of the reason for creating the cluster manager sidebar in the first place was to be able to build some user

[2021-07-28 09:58] ian-r-rose commented on #203
The URL that is populated when you click on a cluster is a real one: it's proxied under the Jupyter server using some custom `jupyter-sever-proxy` logic. The route is set up automatically from the dashboard URL provided by the scheduler. I know that it has worked with various kubernetes, MPI, and local clusters, but `dask-gateway` has always been a bit of an awkward fit, since it has its own proxy

[2021-07-28 10:15] ian-r-rose commented on #202
`Enter` checks the url that you have entered in the box, while the "auto-detect" button tries to find the appropriate URL in your currently active notebook. I suspect what is confusing you is that "Auto-detect" isn't working for your dask-gateway setup, though it's tough for me to tell for sure.

I suggest trying a `LocalCluster` to get a feel for the intended use of the detect button. Getting das

[2021-07-28 11:22] jacobtomlinson commented on #204
I would really like `dask-ctl` to be the solution for this.

[2021-07-30 08:11] GenevieveBuckley commented on #201
silent masses, lol

Well, I came over here to complain about something (and find out that Ian has *already* fixed it, fantastic), so I may as well fix someone else's frustration while I'm here instead.

[2021-07-30 08:35] #201 closed

[2021-08-02 08:34] consideRatio commented on #203
@ian-r-rose thanks for the thorough reply! I'll do some exploring with these insights and follow up with you at the end of this week. I've added your GitHub handle to have access to the deployment at https://hub.jupytearth.org that has dask-labextension + dask-gateway up and running like described in this issue.

[2021-08-03 07:39] marcelned opened #207 "Multiple Kernels in a JupyterHub Setyp"
**What happened**:

**What you expected to happen**:

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version:
- Python version:
- Operating System:
- Install method (conda, pip, source):

[2021-08-03 09:55] jacobtomlinson commented on #207
The extension needs to be installed in the same environment as Jupyter Lab.

However this does mean that if you create Dask clusters using the GUI they will also be running within the Jupyter kernel and not the one that is active in the notebook. We are aware of this limitation and it's something that we would like to address.

@dpeterk has been working on dask/distributed#5013 as one solution to

[2021-08-04 06:08] thomafred commented on #135
I see that @consideRatio found a fix using the `GatewayCluster`-class (https://github.com/dask/dask-labextension/issues/203). Confirmed to work with the daskhub helm-chart:

[code]

However, the `DASK DASHBOARD URL` is not set correctly as mentioned by Erik in the issue above.

[2021-08-04 09:35] thomafred commented on #203
This is already handled for cluster dashboard URLs: https://github.com/dask/dask-labextension/blob/main/src/clusters.tsx#L79

[code]

Could this be a viable quick-fix for the dashboard URL search bar too?

[2021-08-19 22:25] jrbourbeau opened #211 "Long plot names"
In https://github.com/dask/distributed/pull/5129 we added a new "Workers network bandwidth timeseries" plot. I noticed that when the labextension sidebar is small, this plot's name is large enough that its text doesn't fit inside the corresponding button:

<img width="408" alt="Screen Shot 2021-08-19 at 3 53 51 PM" src="https://user-images.githubusercontent.com/11656932/130151500-f101b681-5ffc-4a5

[2021-08-19 23:51] mrocklin commented on #211
I think that short term we should use a more concise naming scheme and that
long term we should have categories in the labextension buttons to help
with hierarchy

On Thu, Aug 19, 2021 at 5:25 PM James Bourbeau ***@***.***>
wrote:

[2021-08-20 14:30] ncclementi commented on #211
This is a quick fix I can take care of by modifying the name on distributed, in these two lines

https://github.com/dask/distributed/blob/6a8b49db67896caeea1b6e6075c1dd50b45ae73b/distributed/dashboard/scheduler.py#L72

https://github.com/dask/distributed/blob/6a8b49db67896caeea1b6e6075c1dd50b45ae73b/distributed/dashboard/scheduler.py#L78

now, what do we want to remove "network" or "bandwidth" ? I

[2021-08-20 14:33] ian-r-rose commented on #211
We can also do some things with CSS on the labextension side to wrap or clip long names (possibly with a hover for the full name)

[2021-08-20 15:53] jrbourbeau commented on #211
I would drop "network" and go with "workers bandwidth"

[2021-08-20 15:57] mrocklin commented on #211
Just "bandwidth" and "bandwidth timeseries" maybe?  I think that these are
likely the default

On Fri, Aug 20, 2021 at 10:54 AM James Bourbeau ***@***.***>
wrote:

[2021-08-20 17:24] ncclementi commented on #211
I noticed that we already have a plot called "Bandwidth Workers" I wonder how would we deal with this since it might cause confusion.

![Screen Shot 2021-08-20 at 1 15 14 PM](https://user-images.githubusercontent.com/7526622/130270005-9645220b-4249-43f9-984b-4be05c23d623.png)

![Screen Shot 2021-08-20 at 1 18 33 PM](https://user-images.githubusercontent.com/7526622/130270381-e067a11e-43f9-4070-880

[2021-08-20 17:44] jrbourbeau commented on #211
Ah, good point. That plot is [included in performance reports](https://github.com/dask/distributed/blob/6a8b49db67896caeea1b6e6075c1dd50b45ae73b/distributed/scheduler.py#L7289-L7298) currently. @mrocklin feel free to correct me if I'm wrong, but my understanding is that plot is useful and we should keep it around.

Maybe the new plots should be "workers network" and "workers network timeseries". T

[2021-08-31 09:54] agoose77 commented on #202
I Haven't got much to add here besides adding that this has confused me too in the past. I would expect either
- two buttons, one that populates the URL field, another that tries to connect to the cluster
- one button, but with different behaviour according to whether the URL field is empty

IIRC my issues were particularly pronounced when I was using a remote cluster linked via an SSH tunnel,

[2021-09-28 17:32] mathause commented on #183
I _think_ I had issues with this because I had an old config file around - now it _seems_ to work without setting the environment variable.

[2021-11-04 01:30] athornton opened #213 "Dashboard URL backoff doesn't work right when it gets ConnectionRefusedError"
**What happened**:

The lab extension, on Lab startup, is populated with a URL.  In this case it's a proxy URL (via jupyter-server-proxy) but I don't think that matters.  I don't have any clusters running yet.  I would expect it to try the URL, get connection refused (because there is no scheduler endpoint running), and back off from 4 seconds to 60 seconds.  But it didn't: it keeps spamming every

[2021-11-18 19:31] willyyang opened #214 "Error: Failed to list clusters: might the server extension not be installed/enabled?"
I'm running into the error `Failed to list clusters: might the server extension not be installed/enabled?` after I've ran the following steps and start up JupyterLab  in JupyterHub:
[code]

I'm able to see `dask-labextension v5.1.0 enabled OK (python, dask_labextension)` on `jupyter labextension list`

I've also tried following another comment from a similar error thread (https://github.com/dask/d

[2021-11-22 14:59] jacobtomlinson commented on #214
Are you able to open a Python prompt and run `dask_labextension`?

[2021-11-22 16:09] willyyang commented on #214
@jacobtomlinson  seeing this error:

[code]

[2021-11-23 15:14] willyyang commented on #214
Thanks that update worked to align the two package versions.

On Mon, Nov 22, 2021 at 8:10 AM Jacob Tomlinson ***@***.***>
wrote:

[2021-11-23 16:24] jacobtomlinson commented on #214
Awesome. Strange that they managed to get out of sync, we usually hard pin them. Glad it's working for you.

[2021-11-23 16:24] #214 closed

[2021-12-15 15:37] randerzander opened #215 "ValueError: "dask-labextension" is not a valid npm package"
**What happened**:
With jupyter-lab version 3.2.5, I'm unable to install dask-labextension.

**What you expected to happen**:
I expected dask-labextension to be installed/enabled in JupyterLab.

**Minimal Complete Verifiable Example**:
[code]
**Anything else we need to know?**:
N/A

**Environment**:
- Dask version: 2021.11.2
- Python version: 3.8
- Operating System:
[code]
- Install method (conda,

[2021-12-15 15:51] ian-r-rose commented on #215
Two things:
1. It looks like the error here was a hiccup in `npm`'s registry (see the 500 error in the traceback). This has likely been resolved.
1. It looks to me like you are using the pre-JupyterLab-3.0 way of installing extensions, can you try installing just from PyPI as described [here](https://github.com/dask/dask-labextension#jupyterlab-30-or-greater)?

[2021-12-18 03:12] ian-r-rose commented on #213
Thanks for the report @athornton, and sorry for the slow reply. I can reproduce your issue. I think we need to raise in the polling callback to trigger backoff behavior

[2021-12-20 16:38] ian-r-rose opened #216 "Restoration fails when no dashboard is connected"
An unintended consequence of #198. We are being fairly aggressive about disposing of dashboard panels that don't match up with one of the ones in `individual-charts.json`. But since we removed the default dashboard panels in #198, this means that upon restoration if there is no active cluster, the panels will be removed. Among other things, this prevents the "initial layout" trick we use in `dask-

[2021-12-20 21:15] ian-r-rose commented on #211
This is now fixed by  dask/distributed#5239

[2021-12-20 21:15] #211 closed

[2021-12-20 21:22] ian-r-rose opened #218 "Optionally hide cluster manager"
I've had a few conversations with people involved Pangeo-style and HPC-style deployments where the cluster manager UI in this extension doesn't work well with their workflows.

I'd of course love for it to work better for them, but a relatively simple ask in that circumstance has been to expose an option to hide the cluster manager.

[2021-12-24 04:03] JakeNavteca opened #221 "I am trying to have a developmental install. When I type "jlpm build" into the terminal I get this message:"
**What happened**:

**What you expected to happen**:

**Minimal Complete Verifiable Example**:

[code]

**Anything else we need to know?**:

**Environment**:

- Dask version:
- Python version:
- Operating System:
- Install method (conda, pip, source):

<details>
<summary>Cluster Dump State:</summary>

</details>

[2021-12-24 13:34] jimthompson5802 opened #222 "dask-labextension does not connect to LocalCluster in JupyterLab 3.2.5 environment."
# **What happened**:

Upon setting up a JupyterLab environment in a  local docker container with `dask-labextension`,  the extension does not connect with a `LocalCluster` running within the container.  The symptoms seen are similiar to the ones exhibited in Issue #214.

# **What you expected to happen**:
I expected to use the various view of `dask-extension` to view `LocalCluster` operation.

# *

[2021-12-25 12:28] jimthompson5802 commented on #222
Additional data point.  I noticed this in the browser developer mode console right after clicking on the "magnifying glass" icon:
![image](https://user-images.githubusercontent.com/1425269/147384811-a1ad53ad-5569-4c45-8ea7-72d0b33779a0.png)

[2021-12-28 13:54] jimthompson5802 commented on #222
For the record was able to resolve this issue.  Resolution is to bake into the image the `dask-labextension` package and not install it after the docker container started.  This [documentation page](https://jupyter-docker-stacks.readthedocs.io/en/latest/using/recipes.html#dask-jupyterlab-extension) was the key to resolving the issue.

[2021-12-28 13:54] #222 closed

[2022-01-03 19:00] ian-r-rose commented on #221
Hi @JakeNavteca, sorry for the slow response. Are you sure you were int the intended directory when you ran `jlpm build`? It looks like you were in `/home/ubuntu/dask-worker-space`, rather than the root directory of this repository.

[2022-01-03 19:00] ian-r-rose commented on #215
Closing due to lack of response, but feel free to follow-up if you are still having troubles and we can reopen

[2022-01-03 19:00] #215 closed

[2022-01-03 21:57] randerzander commented on #215
Yes, sorry for the late reply. On rebuilding my environment, I didn't hit the same npm error.

Thanks!

[2022-01-03 22:25] ian-r-rose commented on #215
Thanks for following-up @randerzander !

[2022-01-04 11:32] jacobtomlinson commented on #218
This seems totally reasonable.

In the future I'd prefer this to become a "make the cluster manager read only" option. That way when we have cluster discovery with dask-ctl we can still show clusters that the user can access, but without them being able to create new ones in the UI.

[2022-01-04 16:48] ian-r-rose commented on #218
A read-only manager makes good sense to me, though to me it sounds different enough from this functionality that it could be a separate option, rather than replacing this one. Do you envision it to be mostly for UI purposes? Or would we actually try to enforce it at the permissions level? I'd prefer the latter to be the responsibility of `dask-ctl`.

An aside, I'd really like to make a push on inc

[2022-01-04 16:52] jacobtomlinson commented on #218
I guess the main problem I would like to solve is helping users find clusters which have been created on their behalf. Tools like the Dask Helm Chart launch a Dask cluster alongside Jupyter. It's pretty common for custom IT and HPC systems to do this too. So having existing clusters just show up makes sense.

I guess my thought about it being read only would be that if an HPC system provided a clu

[2022-01-04 17:00] ian-r-rose commented on #218
Makes sense to me. To be clear, I'm +1 on having a read-only option here. Do you think that metadata would something that `dask-ctl` would provide?

[2022-01-04 17:01] jacobtomlinson commented on #218
What kind of metadata are you thinking?

[2022-01-04 17:06] ian-r-rose commented on #218
I guess I'm thinking about something like "does the local user have permissions to manage cluster resources for a given cluster manager/provider?"

It's not obvious what we would do if there are multiple cluster provider/mananger implementations (the UI doesn't really envision that, but we could think about it)

[2022-01-04 17:09] jacobtomlinson commented on #218
Interesting I hadn't put much thought into that. We should sync up soon to make plans to work on this.

[2022-01-05 10:04] #218 closed

[2022-01-05 20:15] #213 closed

[2022-01-05 20:16] #216 closed

[2022-01-19 13:11] exzine opened #223 "Cluster Start Error"
I got "cluster start error - set changed size during iteration" when I try to create a new local cluster from the extension panel. It only happens when previous cluster crashed due to some heavy loading.

[2022-01-19 15:20] jacobtomlinson commented on #223
Could you share your Jupyter log which should have the full error message?

[2022-03-03 23:07] lancelot1969 commented on #40
I had the same issue.  `conda update --all` worked for me.

[2022-03-08 15:32] viniciusdc opened #225 "Dask Lab-extension not connecting with dask-gateway dashboards"
This is a cross-post of https://github.com/Quansight/qhub/issues/1012

## What happened:

I pasted a link to a dask gateway cluster dashboard into the dask lab extension search box, and nothing happened.

What you expected to happen:

The behavior should be the same one as we can see for `dask.distributed` dashboard links (which does work), e.g. allowing me to open the various windows of the dashb

[2022-03-09 02:56] costrouc commented on #190
Hey all wanted to give some context on the issue we are getting when using the dask-labextension in [QHub](https://github.com/quansight/qhub). We are using forward authentication with single sign-on to protect the dask gateway dashboard urls that are exposed. This makes it so that within the browser the user has to login to [keycloak](https://www.keycloak.org/) via an oauth flow. This way we can p

[2022-03-22 16:58] dharhas commented on #190
@ian-r-rose Do you have any thoughts here. We are interesting in helping but I'm unsure how much effort this is or how it should be done.

[2022-03-22 17:21] ian-r-rose commented on #190
Sorry for the slow response @costrouc!  (and :wave: @dharhas )

The biggest constraint here is that, as far as I know, the bokeh server that hosts the dashboard doesn't provide a way to set CORS headers (see discussion [here](https://github.com/bokeh/bokeh/issues/9416)). Historically, that has meant that this extension has had to jump through all sorts of hoops to reason about what might be on the

[2022-03-22 19:31] costrouc commented on #190
@dharhas  and @ian-r-rose in our case the dask dashboards are served within the same dns host so CORS would not be an issue as far as I know. Would this make the problem any easier?

[2022-03-22 19:37] ian-r-rose commented on #190
Quite possibly. It should be fairly easy to check if you are comfortable building from a branch. You could add a new branch to this block which checks if the hostname is the same, and if so, makes the request for `individual-plots.json` directly from the browser session using `fetch()`. https://github.com/dask/dask-labextension/blob/9433ecd21842417dda1579b78127dd4babfb8a4e/src/dashboard.tsx#L579-L

[2022-03-22 19:51] costrouc commented on #190
@ian-r-rose thank you for the detailed responses and this is helpful! We will be tasking someone to work on this feature.

[2022-03-22 21:47] viniciusdc commented on #190
Hi, @ian-r-rose thanks for the links and the detailed explanation, just a quick question the above snippet will do the work from the browser perspective, but wouldn't the test fails on the server-side based on this code block? https://github.com/dask/dask-labextension/blob/9433ecd21842417dda1579b78127dd4babfb8a4e/dask_labextension/dashboardhandler.py#L18

[2022-03-22 21:52] ian-r-rose commented on #190
@viniciusdc Yeah, the possible fix I suggested above is to avoid the `DaskDashboardCheckHandler` all-together when we expect the browser request to succeed.

[2022-03-23 12:26] rsignell-usgs commented on #190
Ooh, this sounds promising.   Thanks for looking into this.  We love the dask-labextension in qhub!    🤞

[2022-04-01 13:51] rcthomas opened #226 "Failed to list clusters: might the server extension not be installed/enabled?"
Quite frequently, we see this message

[code]

It is spurious because the server extension is indeed installed and enabled.  Both `dask-core` and `distributed` are installed at version 2022.1.0, and `dask-labextension` is at 5.2.0.

I've told users they can ignore this, and maybe they need to clear the search field in the `dask-labextension` interface, since that seemed to work for me.

The error

[2022-04-05 02:52] dhirschfeld opened #227 "HTTP access to plots in JupyterLab being blocked"
In JupyterLab the plots aren't being displayed:

![image](https://user-images.githubusercontent.com/881019/161668694-15ddd4ff-fe19-4fd5-92f1-05199c50db55.png)

...and I see an error about HTTP being blocked:

![image](https://user-images.githubusercontent.com/881019/161668614-b82fd430-0431-4b5e-9d6b-1b3c33e5d31e.png)

**Environment**:

- JupyterHub 1.5.0 / JupyterLab 3.3.1
- Python version: 3.7
-

[2022-04-14 00:52] tlvu commented on #183
[code]
Is even better since it will take care of everything in front of `/user`, if any.

Example on my system:
[code]

[2022-04-26 19:30] viniciusdc commented on #190
Hi folks, my apologies for the late reply on this. I was able to fix the mentioned issue with the changes @ian-r-rose proposed (Many thanks !!!). May I open a PR with those modifications and request a review from you all?

[2022-04-26 22:21] ian-r-rose commented on #190
Great! Would love to see a PR @viniciusdc!

[2022-04-29 17:54] viniciusdc commented on #190
HI, @ian-r-rose thanks!! I just submitted a PR, hope you could have a look.

[2022-05-16 19:13] #225 closed

[2022-05-18 13:16] etejedor opened #233 "Dashboard doesn't show when scheduler does not listen on localhost"
I am running a JupyterHub deployment that uses JupyterLab and the Dask lab extension to create HTCondorClusters.

The JupyterHub user sessions run inside Docker containers, and so does the Dask scheduler. The Dask scheduler listens on an address of the private Docker network (not on the loopback interface), so that messages from the workers get forwarded from the host address to the Docker address

[2022-06-07 17:02] rmcsqrd commented on #194
@valpesendorfer Do you mind sharing what steps you took to get it working? I have my notebook and scheduler deployed as containers on ECS and am able to successfully `curl http://Dask-Scheduler:8787/status` but am having trouble getting it to proxy so I can use the dask lab extension. Thanks.

[2022-06-08 22:40] ian-r-rose opened #234 "Update branding"
Dask has new branding, let's update it here

[2022-06-09 14:54] valpesendorfer commented on #194
@rmcsqrd sorry, while I did make it work, I abandoned this idea and haven't used anything like it since, so I forgot all the details. But essentially it's like the steps outline above: add the jupyter proxy extension, generate a config file if not already present, set the host allowlist so it allows only IPs from your internal CIDR and that's it. After that, your dashboard should be available thro

[2022-06-09 15:00] rmcsqrd commented on #194
@valpesendorfer Thanks for the response and the outline of steps.

RE generating the config file, I am assuming you did that by running `jupyter lab --generate-config` then adding a line similar to `c.ServerProxy.host_allowlist = ["10.x.x.x"]`.

Do you know if jupyter lab will "hot reload" config changes if it is currently running or if it needs to be restarted? I am running into an issue where my

[2022-06-09 15:11] valpesendorfer commented on #194
@rmcsqrd If I remember well, I used a callable as the [comment](https://github.com/dask/dask-labextension/issues/194#issuecomment-852242015) suggests. If you specify a string like you do in the example, it'd probably take the `x`s literally.

RE hot-reload, I have no idea, sorry. But my gut feeling is no.

[2022-06-09 15:33] ian-r-rose commented on #194
Thanks for the additional detail @valpesendorfer.

I don't expect hot-reloading to work. You will typically need to make sure that the configuration is present before the serve starts up (some hosted systems allow you to configure a start script or similar, though I'm not familiar with how sagemaker does it).

[2022-06-14 14:50] vdytyniak-exos opened #236 "Open Dashboard programmatically"
It would be great to be able to populate dashboard link programmatically. Probably it is already possible, just not documented.

[2022-06-14 15:00] ian-r-rose commented on #236
Hi @vdytyniak-exos, have you tried clicking on the magnifying glass icon next to the search bar while your notebook has an active `Client`? That makes an attempt to sniff out the dashboard link, though it doesn't work for every possible deployment

[2022-06-16 14:18] ian-r-rose commented on #226
Sorry for the extremely slow response @rcthomas. This message was more useful in a pre-JLab 3 world where the frontend piece of the extension had to be installed separately from the backend piece. Now that they are installed together, I think we can relax the check a bit.

Right now we are showing that message after the first failed attempt to talk to the backend. I'm not sure why it is failing in

[2022-06-16 15:32] rcthomas commented on #226
Thanks!  I think users notice it when they've been idle a long time, like overnight?  But other times it seems to pop up seemingly randomly.  I haven't noticed it too much recently myself.  But yes, if it could maybe pop up only after some number of failures (10 sounds like a good start --- what's the interval between attempts to contact the backend?) that might help.

[2022-06-16 15:37] ian-r-rose commented on #226
Thanks for the additional context — if it’s showing the message to users after a long absence, or due to a network hiccup, that sounds a bit different from my idea of a startup race. Maybe we can avoid showing it if there has *ever* been a successful check. That is to say, if we have successfully talked to the backend once, then any subsequent issue won’t be due to an installation problem.

[2022-06-16 19:57] ian-r-rose commented on #233
Hi @etejedor, apologies for the slow reply.

I know that at least a few people have gotten `host_allowlist` working for private, non-localhost addresses (cf. https://github.com/dask/dask-labextension/issues/194). But even then, it's not very ergonomic, and I think involves hitting the `/proxy/<ip-address>` endpoint rather than the one constructed by the extension.

It sounds like you have a good u

[2022-06-16 20:00] ian-r-rose commented on #227
Sorry for the slow response @dhirschfeld. This is a common issue that people run into (see discussion here: https://github.com/dask/dask-labextension/issues/194). Long-term, I think the right solution is to proxy more stuff under the notebook server, but as as short-term fix you might be able to access your server by using the `jupyter-server-proxy` `/proxy/<ip-address>` endpoint, and allow-listin

[2022-06-21 22:50] #226 closed

[2022-06-21 23:31] ian-r-rose commented on #226
@rcthomas I've just published version 5.3.0 of this extension which should include a fix for this issue. If you find that is not the case, please let me know and we can reopen!

[2022-07-16 22:58] mrocklin opened #239 "Specify default address to look for scheduler"
So, I'm in an interesting situation where I'm running a Jupyter server and I know that it will have exactly one Dask cluster attached to it.  I would like to populate the Dask labextension with that scheduler address on startup.  Is this easy to do?

[2022-07-18 16:29] ian-r-rose commented on #239
This is already possible today using the `defaultURL` setting value. Doing this as part of a deployment would look like:

1. Identify the relevant server address
2. Prior to users loading the page (not necessarily prior to the jupyter server startup, but might as well be), put the setting value in an [`overrides.json`](https://jupyterlab.readthedocs.io/en/stable/user/directories.html#overrides-jso

[2022-07-18 16:33] mrocklin commented on #239
Is there an environment variable that I could set somewhere?  See
https://github.com/dask/distributed/pull/6737 for context

On Mon, Jul 18, 2022 at 11:30 AM Ian Rose ***@***.***> wrote:

[2022-07-18 16:57] mrocklin commented on #239
So I would do something like the following before starting up the Jupyter server?

[code]

[2022-07-18 17:05] ian-r-rose commented on #239
Yes, something like that, at least for a proof-of-concept. A more complete solution might be to use json5 and merge with other possible config options.

To be clear, we could have some kind of translation layer between the dask config system and the JupyterLab one, but we'd have to build it. I'm a little reticent to build out a new set of special-case environment variable rather than go through th

[2022-07-18 17:07] ian-r-rose commented on #239
The frontend chooses in order:
1. Any user-populated URL (which is persisted between page refreshes)
2. The default URL from the settings

I also noticed when kicking the tires on this that the user-populated URL can be a bit too sticky at the moment (you can reset it with a `?reset` query parameter). A fix for that is pretty straightforward here.

[2022-07-18 17:25] mrocklin commented on #239
@ian-r-rose and I spoke.  There is some possibility of using the system that currently sends the default at-start-time clusters up to the frontend.  This is low enough priority though that we're going to wait until jupyter-on-dask becomes more of a major thing (maybe never).

[2022-07-19 15:47] ian-r-rose commented on #239
I am not sure that this would be insurmountable in a refactor to use `dask-ctl`. Today, the sidebar in some sense owns the clusters listed there, and they are backed by real `Cluster` instances. But if we can, I'd love to get out of the business of having a `Cluster` backed object all-together, and just have something like "here is a list of clusters we know how to connect to". In that case maybe

[2022-07-25 09:11] jacobtomlinson commented on #239
@mrocklin that should be fine. `dask_ctl.ProxyCluster` fulfils the `Cluster` API and is useful for representing clusters that can't be rehydrated into other cluster manager objects. Currently, the discovery method for `ProxyCluster` has a look through open ports on `localhost` and if it finds schedulers it returns them. It would be very quick to expand this to include other addresses configured in

[2022-08-01 20:48] ian-r-rose commented on #239
This seems it could bee a good solution -- thanks for the explanation @jacobtomlinson. I'll see if I can put together an example using dask/distributed#6737 and `ProxyCluster`.

I'm getting more excited about the possibility of integrating `dask-ctl` here

[2022-08-03 10:49] Lesterpig commented on #239
I'm also interested in providing a default address.

I tried the following in `overrides.json` but it doesn't seem to work. Maybe I'm using the wrong plugin name?

[code]

Thanks for your help.

[2022-09-05 14:20] SofianeB opened #241 "Dashboard shows cluster of different user"
**What happened**:

We are running a jupyterhub for HPC users. I noticed when opening jupyterlab that the Dask Dashboard is activated and shows a running cluster on port `8787`even if I didn't start a cluster before. After checking who is using that port it is actually a different user.
How can that be possible? the should not be possible right (security perspective)?
**What you expected to happen

[2022-09-07 11:17] jacobtomlinson commented on #241
Thanks for opening this @SofianeB.

The Dask dashboard does not use any authentication, so if another user is already running a Dask scheduler on the same node that you are using they may be using port 8787 and you will be able to access it.

The lab extension will not allow you to access dashboards running on different nodes by default, but if two users are on the same machine we cannot restrict

[2022-09-17 17:05] JonnyTran opened #242 "No visibility (black background) with JupyterLab in Dark theme"
**What happened**:
With JupyterLab in Dark theme, the Bokeh dashboards doesn't have a white background so drawings are not visible.
<details>

![image](https://user-images.githubusercontent.com/4750391/190868156-0dd34547-9855-4156-9c6f-b2cb47e560fa.png)

</details>

**What you expected to happen**:
Bokeh dashboards should have a white plot background.

**Environment**:
JupyterLab 3.4.7
dask-labext

[2022-09-19 15:46] ian-r-rose commented on #242
Thanks for the report @JonnyTran , there is some additional discussion [here](https://github.com/dask/distributed/issues/5200). I think the easiest fix would be to add a bit of explicit CSS to the background of the plot iframes. Would you be interested in submitting a PR?

[2022-09-19 15:50] JonnyTran commented on #242
Sure! I'll take a look. If I have any questions I'll post it here or the orig [issue](https://github.com/dask/distributed/issues/5200).

[2022-09-19 15:55] ian-r-rose commented on #242
Great! I think the easiest approach would be to create a new CSS class for the iframes [here](https://github.com/dask/dask-labextension/blob/main/style/index.css), and then to add that CSS class to the iframe widgets in the constructor here: https://github.com/dask/dask-labextension/blob/707ecb1dc0e4d0ef21e9cf57442db5768235dcd1/src/dashboard.tsx#L52-L62

There are other widgets in the same file th

[2022-10-12 15:53] samanake opened #244 "Can't connect to local cluster using local IP and port"
I added this

[2022-10-13 16:23] #242 closed

[2022-10-19 19:11] theNewFlesh opened #245 "5.3.0 does not create a schemas/dask-labextension/plugin.json file on install"
**Dask lab extension does not show up in Jupyter Lab settings**
I have messed with a bunch of config settings and still cannot get this to work.

**Environment**:
docker container running:
 - ubuntu                               18.04
 - python                                  3.7
 - dask                            2022.2.0
 - dask-gateway                   0.9.0
 - dask-labextension             5

[2022-10-20 21:16] theNewFlesh commented on #245
[code]

[2022-10-20 21:17] theNewFlesh commented on #245
Appears that the schema is not valid or something?

[2022-10-20 22:21] theNewFlesh commented on #245
Copying plugin.json from `pangeo/base-notebook:latest` in `/srv/conda/envs/notebook/share/jupyter/labextensions/dask-labextension/schemas/dask-labextension` to `~/.local/share/jupyter/labextensions/dask-labextension/schemas/dask-labextension` fixes the issue.

Not sure why `pip3 install dask-labextension` doesn't do that in the first place.

[2022-10-20 22:50] theNewFlesh commented on #245
`pip3.10 install dask-labextension==5.2.0` creates a plugin.json file in the schema directory.
`pip3.10 install dask-labextension==5.3.0` does not create a correct plugin.json file in the schema directory.

[2022-10-20 23:45] ian-r-rose commented on #245
Thank you for the report @theNewFlesh, I can reproduce your issue. I'm not sure just yet of the cause. Interestingly, the problem doesn't seem to appear for the `conda-forge` packages, just the ones on pypi. But when I inspect the tarballs, the `plugin.json` file appears to be there.

[2022-10-21 00:51] theNewFlesh commented on #245
yup

[2022-10-21 00:52] theNewFlesh commented on #245
my dockerfile hotfix
[code]

[2022-10-21 00:55] theNewFlesh commented on #245
Node version doesn't seem to affect the issue since I reproduced it with the default version 12 and custom installed version 16 on ubuntu 22.04. A thought..perhaps the schema dir is referenced as "schema" in some places and "schemas" in others?

[2022-10-26 14:56] mrocklin opened #247 "Default layout"
This might not be a good idea but ...

Often when showing someone the Dask dashboard I ask them to set up a few windows, notably the task stream, progress, and workers memory.  I put these to the side of the notebook.  We even make this recommendation in the tutorial.

Would it make sense to codify this starter template somewhere?  Would it be possible to make a button for example that set these u

[2022-10-26 17:17] ian-r-rose commented on #247
This probably isn't too difficult to do on a best-effort basis. I'm sure there would be ways to come up with a nonsense layout if there are existing tabs open, but if you have a relatively simple starting state, it probably would work most of the time.

[2022-10-26 18:42] mrocklin commented on #247
Hooray for best effort!

[2022-10-29 15:36] #247 closed

[2022-10-31 14:56] mrocklin commented on #247
Thanks Ian!

On Sat, Oct 29, 2022 at 10:37 AM Ian Rose ***@***.***> wrote:

[2022-11-01 16:30] stonebig commented on #245
It happens also on windows pip install, apparently, with dask_labextension-5.3.0-py3-none-any.whl.... a late discovery

[2022-11-01 16:37] ian-r-rose commented on #245
I plan to make another release today to fix this

[2022-11-01 20:47] ian-r-rose commented on #245
I just published a patch release 5.3.1 to PyPI which should fix this. Sorry about the bad wheel, and let me know if you hit any other problems here!

[2022-11-01 20:47] #245 closed

[2022-11-02 15:04] ian-r-rose commented on #247
This is now available in v6.0

[2022-11-17 16:40] jrbourbeau opened #252 "Need to press the new "Launch in JupyterLab" button twice"
Recently we added a new button for launching a default set of dashboard plots from the `Client` HTML repr :tada: (xref https://github.com/dask/dask-labextension/pull/248). When using the button today I noticed I needed to press the button twice to have the dashboard plots launched

cc @ian-r-rose

[2022-11-17 17:14] mrocklin commented on #252
I have also experienced this anecdotally

On Thu, Nov 17, 2022 at 10:40 AM James Bourbeau ***@***.***>
wrote: